@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    background-color: rgb(113, 21, 21) !important;
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-position-x:left;
    background-position-y:bottom;
    height: 100vh;
    background-size: 300px;
}

@font-face {
    font-family: myFont;
    src: url("./assets/fonts/TTRounds-Black.otf");
}